html {
    font-family: "Nico Moji";
}

body {
    background-color: gray;
    color: white;
}
h1 {
    font-size: 10vw;
    margin-top: -10px;
    margin-bottom: -5px;
}

h2 {
    font-size: 5vw;
    margin-top: -5px;

}
/* .parts-size {
    width: 10vw;
}
.parts{
    position: absolute;
} */

#ear-r {
    top: 350px;
    left: 50px;
}

#ear-l {
    top: 350px;
    left: 150px;
}

#eye-r {
    top: 350px;
    left: 250px;
}

#eye-l {
    top: 500px;
    left: 50px;
}

#hair_left {
    top: 500px;
    left: 120px;
}

#hair_right {
    top: 500px;
    left: 250px;
}

#nose {
    top: 600px;
    left: 100px;
}

#mihon img {
    border: #000 2px solid;
    width: 10%;
}

/* 輪郭 */
#face {
    margin: 80px auto 0;
    background: url(../img/face2.png) no-repeat;
    position: relative;
    z-index: -1;
}

button, input {
    margin: 30px auto 0;
    padding: 15px 0;
    width: 200px;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    display: block;
}

button#start {
    background: #73B9FF;
}

input#kansei {
    background: #FF2626;
    color: white;
    display: none;
}

/* 目隠し機能*/
/* 
#mekakusi {
  width: 508px;
  height: 513px;
  background: #ccc;
  position: absolute;
  top: 80px;
  left: calc(50% - 254px);
  z-index: 10;
  pointer-events: none;
  display: none;
} */