html {
    font-family: "Nico Moji";
}

body {
    background-color: gray;
    color: white;
}

h1 {
    font-size: 10vw;
    margin-top: -10px;
    margin-bottom: -5px;
}

h2 {
    font-size: 5vw;
    margin-top: -5px;
}

div {
    height: 100px;
    overflow: auto;
}

table,
tr {
    border-collapse: collapse;
    width: 80%;
    border: 2px solid white;
}

table th,
table td {
    line-height: 30px;
    text-align: center;
    border-style: solid dashed;
    border-width: 1px;
    white-space: nowrap;
    border: dotted 1px white;
    width: 100px;
    font-size: 30px;
}

tbody {
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
    width: 2vw;
    height: 3vw;
}