html {
    font-family: "Nico Moji";
}

body {
    background-color: gray;
    color: white;
}

input, input.name {
    font-family: inherit;
    font-size: 100%;
}

h1 {
    width: 10vw;
}

h2 {
    font-size: 5vw;
}

label {
    font-size: 3vw;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;

}
input {
    font-size: 3vw;
    border-radius: 10px;
    vertical-align: middle;
}

input.name {
    vertical-align: middle;
    height: 40px;
}

@media screen and (max-width:767px) {
    /*　画面サイズが767px以下の場合読み込む　*/
    h1 {
        font-size: 5vw;
    }
    h2, h3 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
    }
    .form_set, input {
        font-size: 2vw;
    }
    input.name {
        height: 30px;
        width: 5vw;
    }
}