html {
    font-family: "Nico Moji";
}

body {
    background-color: gray;
    color: white;
}

h1 {
    font-size: 9vw;
    margin-top: -10px;
    margin-bottom: -5px;
}

h2 {
    font-size: 4vw;
    margin-top: -5px;
}

.parts-position {
    display: inline-block;
    border: black solid 2px;
    width: 300px;
    height: 380px;
}

.parts {
    position: relative;
    display: inline-block;
}

#mihon img {
    border: #000 2px solid;
    width: 10%;
}


/* 輪郭 */

#face {
    width: 300px;
    height: 380px;
    position: relative;
    /* z-index: -1; */
}

button,
input {
    padding: 15px 0;
    width: 200px;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: block;
}

button#start {
    background: #73B9FF;
}

#kansei {
    background: #FF2626;
    color: white;
    display: none;
}


/* 目隠し機能*/


/* 
#mekakusi {
  width: 508px;
  height: 513px;
  background: #ccc;
  position: absolute;
  top: 80px;
  left: calc(50% - 254px);
  z-index: 10;
  pointer-events: none;
  display: none;
} */